aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
altgraph==0.17.5
attrs==25.4.0
certifi==2026.1.4
charset-normalizer==3.4.4
EasyProcess==1.1
entrypoint2==1.1
frozenlist==1.8.0
idna==3.11
jeepney==0.9.0
mss==10.1.0
multidict==6.7.1
packaging==26.0
pillow==12.1.0
propcache==0.4.1
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.1
pyscreenshot==3.1
PySDL3==0.9.11b0
requests==2.32.5
setuptools==82.0.0
urllib3==2.6.3
yarl==1.22.0
